{{define "footer"}}
<footer class="footer">
  <div class="content has-text-centered">
    <p>Site by FML</p>
  </div>
</footer>
</div>
</section>
{{if .TargetWeight}}<script>history.replaceState(null, '', '/')</script>{{end}}
</body>
</html>
{{end}}
