{{define "footer"}}
<footer class="footer">
    <div class="content has-text-centered"></div>
    <p>Site by FML</p>
</footer>
</div>
</section>
{{if .TargetWeight}}<script>history.replaceState(null, '', '/')</script>{{end}}
</body>
</html>
{{end}}